.header {
  padding: 1rem;
  justify-content: flex-end;
  background: linear-gradient(
    90deg,
    rgba(0, 13, 36, 1) 0%,
    rgba(0, 123, 207, 1) 0%,
    rgba(2, 78, 157, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header a {
  padding: 0.2rem;
  min-width: 3rem;
  height: fit-content;
  color: white;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  margin-left: 1rem;
  text-align: center;
}

.header a:hover {
  color: white;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  margin-left: 1rem;
  background-color: rgba(0, 123, 207, 1);
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 100%;
}

.moods-section {
  display: flex;
  flex-direction: row;
}

.mood-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.mood-item img {
  width: 12rem;
  height: 9rem;
}

.mood-item span {
  color: darkblue;
  font-weight: bold;
}

.validators {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  .validators {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
  }
}
